:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
}

html * {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: var(--text-color);
}

body {
    height: 100vh;
    display: flex;

    background-color: var(--body-bg-color);
}

main {
    padding: 18px;
}

h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

#sidebar-menu {
    height: 100%;
    width: 250px;

    padding: 24px 14px 0;

    display: flex;
    flex-direction: column;

    background-color: var(--green);
}

#sidebar-menu.closed {
    width: 78px;
}

#menu, #logout, .nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    margin-bottom: 27px;
    margin-left: 15px;
}

.nav-item {
    justify-content: flex-start;
    gap: 13px;
}

.nav-item:not([id="search"]) {
    margin-left: 13px;
}

#search {
    width: 100%;
    
    padding: 13px;
    border-radius: 12px;

    background-color: var(--light-green);
}

#search-input {
    width: 100%;
    background-color: inherit;
}

#search-input, #search-input:focus {
    border: none;
    outline: none;
}

#search-input::placeholder {
    color: var(--text-color);
}

#logout {
    margin-top: auto;

    background-color: var(--light-green);
    outline: 14px solid var(--light-green);
    padding-bottom: 14px;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
}

#profile-picture {
    width: 45px;
    height: 45px;

    border-radius: 12px;
}

#profile-info #role {
    line-height: 18px;
}

#profile-info #role {
    font-size: 12px;
    line-height: 18px;
}